
.w-layer
	width 800px
	max-height 450px

	overflow-y auto

.h-layer
	height 420px


.w-800
	width 800px
.w-400
	width 400px

textarea
	resize none
	
//chart样式
#chart{
    min-height 500px
    width 100%
}
.font{
    color black
    cursor pointer 
    }
.vacate {
    margin-left 5px

    width 30px
    height 30px
    
    border-radius 15px
    background-color red
    
    color white
    font-size 13px
    }

.table_bold tr:last-child{
    font-weight bold
    }  

#increase{
    margin-left 15%
    margin-top 20px

    }   
.changes{
    margin-left 30px  
    
    width 160px
    height 100px
    }
    
.question{    
    width 20px
    height 20px
    
    border-radius 10px
    border 1px solid gray
    
    position relative
    top -24px
    left 180px
    }
.inspection{
   width 100px
    
    }
    
.iframe{
   min-height 600px 
   
    }

.js-short-template{
    min-height 150px
    border 1px solid rgba(0, 0, 0, 0.3);
}    
    
    
    
