

// display
.db
	display block

.dn
	display none

.dib
	display inline-block

// position
.pos-r
	position relative

// margin
.mt-sm
	margin-top 5px

.mb-sm
	margin-bottom 5px

.ml-sm
	margin-left 5px

.mr-sm
	margin-right 5px

.m-sm
	margin 2.5px

.mt-md
	margin-top 10px

.mb-md
	margin-bottom 10px

.ml-md
	margin-left 10px

.mr-md
	margin-right 10px

.m-md
	margin 5px

.mt-lg
	margin-top 20px

.mb-lg
	margin-bottom 20px

.ml-lg
	margin-left 20px

.mr-lg
	margin-right 20px

.m-lg
	margin 10px

.mt-2
	margin-top 2px

.mt-neg-sm
	margin-top -5px

// padding
.pt-8
	padding-top 8px
	
.pt-sm
	padding-top 5px

.pb-sm
	padding-bottom 5px

.pl-sm
	padding-left 5px

.pr-sm
	padding-right 5px

.p-sm
	padding 2.5px

.pt-md
	padding-top 10px

.pb-md
	padding-bottom 10px

.pl-md
	padding-left 10px

.pr-md
	padding-right 10px

.p-md
	padding 5px

.pt-lg
	padding-top 20px

.pb-lg
	padding-bottom 20px

.pl-lg
	padding-left 20px

.pr-lg
	padding-right 20px

.p-lg
	padding 10px

.pl-0
	padding-left 0

.pr-0
	padding-right 0

.pl-30
	padding-left 30px

.pr-30
	padding-right 30px

// min-height
.mh-table
	min-height 500px

.mh-400
	min-height 400px

// height
.h-166
	height 166px

// color
.c
	&-danger
		color #d73925

	&-warn
		color #e08e0b

	&-disable
		color #b5bbc8
		
	&-success
		color: #5cb85c

	&-light
		color #fff

.b
	
	&-lightblue
		background: #5b9bd5
		
	&-orange
		background: #ed7d31;
			
	&-disable
		background #b5bbc8
		
	&-yellow
		background #ffc000
	
	&-blue
		background #4472c4
		
	&-deepblue
		background #255e91
		
	&-green
		background #5cb85c
		
	&-brown
		background #9e480e
	&-green
		background #636363

// border
.bb-1
	border-bottom 1px solid rgba(0, 0, 0, 0.1);

.b-c-og
	border-color rgb(247, 191, 101)

// overflow
.oy-s
	overflow-y scroll

// vertical-align
.va-t
	vertical-align top
	
.bold
	font-weight bold;
	
.border
	border 1px solid rgba(0, 0, 0, 0.1);
	
.br-1
	border-right 1px solid rgba(0, 0, 0, 0.1);

.wechat-city-w-width
	width 100%

.wechat-city-h-400
	height 400px;

.wechat-city-h-300
	height 300px;
	
.tagname
	margin-bottom 3px;
	margin-right 10px;
	text-align left;
	
.square
	width 5px;
	height 5px;
	display inline-block;
	vertical-align middle
	margin-right 3px

//font-size
.ft-18{
    font-size 18px;
 }