

// label模拟checkbox，注意 ":checked +" 这样的选择器

label.m-checkbox
	display inline-block

	height 27px

	margin 4.5px 12px 0 0
	padding-left 20px

	font-size 13px
	font-weight normal
	line-height 27px

	position relative
	cursor pointer

	&::before
		content ""
		width 16px
		height 16px

		border 1px solid #ccc
		box-sizing border-box

		position absolute
		top ((27px - 18px) / 2)
		left 0

	span::after
		content ""

		width 10px
		height 6px

		position absolute
		top (((27px - 12px) / 2) + 1px)
		left (((16px - 12px) / 2) + 1px)
		border-left 2px solid transparent
		border-bottom 2px solid transparent

		transform rotate(-45deg)

	input[type=checkbox]
		width 1px
		height 1px

		position absolute
		bottom 0
		left 0

		opacity 0
		cursor default

		&:checked + span::after
			border-color #3c8dbc

	input[disabled] + span
		cursor default
