

// 订单处理中右侧备注和记录相关
// 2016-11-15已弃用

.infobox
    height 50%

    margin-bottom 0 !important
    padding 5px

    box-sizing border-box

    .wrap
        height calc(100% - 45px)
        overflow-y scroll

    p
        margin 0
        padding 0
