

// 输入框右侧增加描述文字
// 注意absolute的参考元素，目前为.col-md-*，当前结构大多为
// .col-md-*>(input+.input-desc)

.input-desc
	font-size 11px
	line-height 1
	white-space nowrap

	position absolute
	left calc(100% - 13px)
	top 12px
