.upload
    
    &-box
        position relative
        width 248px
        height 248px
        
        background #fff
        border 1px solid #ddd
        
        cursor pointer
        
        &:hover
            .del
                display block
       
        .plus
            width 248px
            height 248px
            
            font-size 100px
            line-height 248px
        
            color #f6f6f6

        img
            position absolute
            z-index 2
            
            width 246px
            height 246px
            
            object-fit fill
            
        .del
            position absolute
            z-index 4
            right 10px
            top 10px
            
            display none
            
            width 30px
            height 30px
            
            font-size 18px
            text-align center
            
            line-height 30px
            color #fff
            
            background-color rgba(0, 0, 0, 0.7)
            border-radius 5px
            
        input[type="file"]
            position absolute
            top 0
            opacity 0
            
            width 100%
            min-height 100%
            
            overflow hidden
            outline none
            cursor pointer
            z-index 3   

        



        
