

// 用户操作相关（右上角）

.m-user
	width 120px !important
	min-width 120px !important

	.wrap
		padding-top 15px
		padding-bottom 15px

		text-align center
		color #666

		border 1px solid #eee
		border-top none

		.item
			display block
			height 40px

			line-height 40px

			cursor pointer
			transition color 0.5s ease 0s

			&hover
				color #3c8dbc

	&-leave
		width 336px
		height 200px
