

html
	min-width 1200px

	background-color #eee

	overflow auto

header
	width 100%
	height 88px

	background-color #fff

	position relative

	img
		position absolute
		top 27px
		left 50%

		margin-left -600px

section
	width 1200px
	height 66vh
	min-height 460px

	margin 30px auto 0

	background-color #fff
	overflow hidden

	clear-fix()

	.show
		float left

		width 700px
		height 86.67%

		margin 25px 0 0 40px

		vertical-align top
		text-align center

		overflow hidden

		img
			height 100%

	.login
		float right

		width 350px
		height 360px

		margin 12.78vh 73px 0 0

		background-color #fff
		border 1px solid #eee

	.tt
		margin 40px 0 25px 0

		font-size 24px
		line-height 1
		text-align center

	.item
		width 300px
		height 40px

		margin 20px auto 0

		border 1px solid #cdcdcd

		.i
			float left
			width 40px
			height 100%

			background #ddd center no-repeat

			&.user
				background-image url(../img/login/user.png)

			&.pwd
				background-image url(../img/login/pwd.png)

		.ipt
			overflow hidden
			height 100%

			input
				height 100%

				border none

	.warn
		width 300px
		height 15px

		margin 8px auto 0

		color #ea1701

		text-overflow()

	.btn
		display block
		width 300px
		height 42px

		margin 45px auto 0

		color #fff

		background-color #ea5504;
		border none

		&:hover
			color #fff
			background-color darken(#ea5504, 10%);

		&:focus
			color #fff

footer
	width 1200px

	margin 30px auto 0
	padding 15px 0  20px 0

	color #999
	text-align center

	border-top 1px solid #e0e0e0
