
table
	th
		min-width 45px

		vertical-align middle !important

	td
		max-width 360px

		vertical-align middle !important

	th, td
		p
			margin 0
			padding 0

.detected-detail
	width 100%
	overflow-x auto
	display block

	
	table
		min-width 100%
		td
			min-width 120px;
